<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level9</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Blue</string>
			<string>Red</string>
		</array>
	</dict>
	<key>Level8</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Blue</string>
			<string>Red</string>
			<string>Green</string>
			<string>Yellow</string>
		</array>
	</dict>
	<key>Level7</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Blue</string>
			<string>Red</string>
			<string>Yellow</string>
		</array>
	</dict>
	<key>Level6</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Blue</string>
			<string>Red</string>
			<string>Yellow</string>
		</array>
	</dict>
	<key>Level5</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Grey</string>
			<string>Yellow</string>
			<string>Blue</string>
			<string>Red</string>
		</array>
	</dict>
	<key>Level4</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Red</string>
			<string>Blue</string>
			<string>Yellow</string>
		</array>
	</dict>
	<key>Level3</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Blue</string>
			<string>Red</string>
			<string>Blue</string>
		</array>
	</dict>
	<key>Level2</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Yellow</string>
			<string>Blue</string>
			<string>Red</string>
			<string>Grey</string>
		</array>
	</dict>
	<key>Level1</key>
	<dict>
		<key>Birds</key>
		<array>
			<string>Red</string>
			<string>Blue</string>
			<string>Yellow</string>
			<string>Grey</string>
		</array>
	</dict>
</dict>
</plist>
